﻿

@{
    Layout = null;
    ViewData["Title"] = "Main view";
}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .hero-page {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;

            margin: 0 auto;
            width: 800px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<title>Party Invitations</title>

</html>

<body>
    <div class="hero-page">
        <h1>
            We're going to have an exciting party...
        </h1>
        <p>And you are invited. Please follow the action below to participate!</p>

        <a class="btn btn-success" asp-action="RsvpForm">RSVP Now</a>

    </div>

   
</body>

