﻿@model PartyInvites1.Models.GuestResponse;

@{
    Layout = null;
    ViewData["Title"] = "RsvpForm";
}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/styles.css" />

    <style>
        body {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;

            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 500px;
        }

        label {
            font-weight: bold;
        }
    </style>
</head>

<title>RSVP For Party</title>

</html>

<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h3>RSVP</h3></div>
        <div class="panel-body">
            <form asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your name:</label>
                    <input class="form-control" asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your Email:</label>
                    <input class="form-control" asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Your Phone:</label>
                    <input class="form-control" asp-for="Phone" />
                </div>

                <div class="form-group">
                    <label>Will you attend?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>

                <button class="btn btn-success" type="submit">Submit RSVP</button>
                <a class="btn btn-secondary" asp-action="Index">Back</a>


            </form>
        </div>

    </div>
</body>

