﻿@model PartyInvites1.Models.GuestResponse
@{
    Layout = null;
    ViewData["Title"] = "Thanks";
}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        body {
            border: 2px solid black;
            border-radius: 10px;
            padding: 15px;
            margin: 0 auto;
            border: 2px solid black;
            border-radius: 10px;
            height: fit-content;
            width: 500px;
        }

        span {
            color: @ViewBag.nameColor;
        }
        p {
            color: @ViewBag.nameColor;
        }
    </style>
</head>

<title>Thanks!</title>

</html>

<body>
    <h1>
        @ViewBag.finalResponse <span>@Model.Name</span>!
    </h1>

    <p>
        @if (Model.WillAttend == true)
            {
                @:Looking forward to seeing you!
            } else
            {
                @:Sorry to hear you can't make it.
            }
    </p>

        <a class="btn btn-success" asp-action="ListResponses">View Responses</a>
</body>

